body{
  background-color: #F54A4A;
  color: #FFF;
}

.container{
  min-height: 100vh;
  margin: 0 auto -2em;
}

.shape-logo{
  max-width: 80%;
  margin-bottom: 32px;
}

.center-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.main-content{
  padding-top: 20vh;
  text-align:center;
  padding-bottom: 64px;
}

.bottom-box{
  height: 2em;
  margin: auto;
  text-align: center;
}

.white-button{
  padding: 20px;
  border-radius: 7px;
  text-decoration: none;
  color: #F54A4A;
  background-color: #FFF;
  -webkit-transition: color .2s, background-color .2s, border .2s;
  transition: color .2s, background-color .2s, border .2s;
  border: 3px solid #F54A4A;
}

.white-button:hover{
  color: #FFF;
  background-color: #F54A4A;
  border: 3px solid #FFF;
}

.form-data{
  display: inline-block;
  width: 25%;
}

.form-input{
  color: #000;
  width: 100%;
  max-width: 90%;
}

.form-section{
  margin-top: 64px;
}

#docs-data .white-button{
  padding: 10px;
  margin-top: -3px;
}

.hidden{
  display: none;
}

::selection {
  background: #000;
}
::-moz-selection {
  background: #000;
}
